In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('fifa_ranking.csv')

In [3]:
df.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [4]:
df.describe()

,rank,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted
count,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000,57793.000000
mean,101.628086,122.068637,332.302926,-0.009897,61.798602,61.798602,61.004602,30.502377,59.777462,17.933277,59.173916,11.834811
std,58.618424,260.426863,302.872948,5.804309,138.014883,138.014883,137.688204,68.844143,136.296079,40.888849,135.533343,27.106675
min,1.000000,0.000000,0.000000,-72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,51.000000,0.000000,56.000000,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,101.000000,0.000000,272.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,152.000000,92.790000,525.000000,1.000000,32.250000,32.250000,26.660000,13.330000,21.500000,6.450000,21.250000,4.250000
max,209.000000,1775.030000,1920.000000,92.000000,1158.660000,1158.660000,1169.570000,584.790000,1159.710000,347.910000,1200.770000,240.150000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
rank                       57793 non-null int64
country_full               57793 non-null object
country_abrv               57793 non-null object
total_points               57793 non-null float64
previous_points            57793 non-null int64
rank_change                57793 non-null int64
cur_year_avg               57793 non-null float64
cur_year_avg_weighted      57793 non-null float64
last_year_avg              57793 non-null float64
last_year_avg_weighted     57793 non-null float64
two_year_ago_avg           57793 non-null float64
two_year_ago_weighted      57793 non-null float64
three_year_ago_avg         57793 non-null float64
three_year_ago_weighted    57793 non-null float64
confederation              57793 non-null object
rank_date                  57793 non-null object
dtypes: float64(9), int64(3), object(4)
memory usage: 7.1+ MB

In [13]:
df.groupby('country_full').mean().sort_values('rank',ascending=True).head(10)

,rank,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted
country_full,,,,,,,,,,,,
Brazil,3.171329,363.505804,935.611888,0.003497,182.975524,182.975524,178.096434,89.048077,182.553776,54.766049,183.581189,36.716294
Germany,5.104895,421.505070,929.506993,0.000000,211.881573,211.881573,213.236259,106.618007,203.118601,60.935594,210.350210,42.070035
Spain,5.321678,389.897937,949.590909,0.017483,181.974266,181.974266,201.046538,100.523217,209.888112,62.966503,222.171573,44.434301
Argentina,5.454545,395.234266,912.723776,0.017483,196.806364,196.806364,208.113182,104.056643,192.621084,57.786538,182.925699,36.585070
Italy,8.353147,314.833077,819.045455,-0.059441,159.161119,159.161119,157.256748,78.628566,152.114615,45.634510,157.048077,31.409580
Netherlands,8.888112,319.514231,837.300699,-0.034965,142.335385,142.335385,166.827972,83.413846,181.058497,54.317378,197.240105,39.447972
France,8.958042,302.663042,793.608392,0.041958,157.063112,157.063112,151.545874,75.773077,138.179860,41.454301,141.863497,28.372832
England,10.653846,316.638916,788.986014,-0.024476,155.644685,155.644685,161.914126,80.957028,161.092552,48.327378,158.549476,31.710070
Portugal,11.346154,349.558811,811.874126,0.101399,179.864545,179.864545,172.126154,86.062937,170.647238,51.194126,162.186748,32.437343
Mexico,14.751748,271.941259,687.944056,0.034965,139.912203,139.912203,134.300000,67.150105,132.095839,39.629056,126.251678,25.250350

In [14]:
df.columns

Index(['rank', 'country_full', 'country_abrv', 'total_points',
       'previous_points', 'rank_change', 'cur_year_avg',
       'cur_year_avg_weighted', 'last_year_avg', 'last_year_avg_weighted',
       'two_year_ago_avg', 'two_year_ago_weighted', 'three_year_ago_avg',
       'three_year_ago_weighted', 'confederation', 'rank_date'],
      dtype='object')

In [20]:
df.groupby('confederation').mean().head(10)

,rank,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted
confederation,,,,,,,,,,,,
AFC,125.094634,72.387774,228.599746,-0.016248,37.106391,37.106391,35.964879,17.982482,34.965307,10.489628,34.046976,6.809432
CAF,106.446020,108.417963,296.752084,-0.034216,54.918678,54.918678,54.460057,27.230140,52.491245,15.747417,52.615553,10.523116
CONCACAF,127.404905,84.113267,232.478787,-0.074917,42.485774,42.485774,42.337670,21.168947,41.113066,12.333949,40.620952,8.124212
CONMEBOL,35.987063,269.606465,636.436014,0.102448,137.390385,137.390385,134.978573,67.489304,131.026500,39.307955,127.094671,25.418920
OFC,163.790011,31.998797,120.818502,-0.062610,16.836870,16.836870,16.059849,8.030014,13.769416,4.130844,15.006363,3.001291
UEFA,61.056921,191.097093,501.954530,0.050291,96.095813,96.095813,95.149948,47.575029,95.192053,28.557669,94.344323,18.868922

In [22]:
df['country_full'].nunique()

216